.size-filter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-bottom: 1em;
}
.wrapper{
  display: flex;
  flex-direction: row-reverse;
}
.wrapper > label{
  margin-left: 0.125em;
}
.size-filter > p{
  width: 100%;
  text-align: center;
}